.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  margin: 0 0 3rem 0;

  &-left {
    h1 {
      font-size: 3rem;
    }
  }
  &-right {
    font-size: 1.7rem;
  }
}

@media (min-width: 768px) {
  .container-header {
    flex-flow: row;

    &-left {
      h1 {
        font-size: 4rem;
      }
    }

    &-right {
      font-size: 2.1rem;
    }
  }
}

@media (min-width: 995px) {
  .container-header {
    flex-flow: row;

    &-left {
      h1 {
        font-size: 4.7rem;
      }
    }

    &-right {
      font-size: 2.5rem;
    }
  }
}
